.form-box
{
  /* background: #000; */
  padding: 20px 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form{
  background: #fff;
  padding: 20px 70px 20px 70px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.form .logo svg{
  width: 104px;
  height: 146px;
  ;
}
.form-group{
  margin: 20px 0;
  position: relative;
}
.form-group i{
  position: absolute;
  top: 10px;
  left: 5px;
}
.form-group input{
  width: 350px;
  font-weight: 500;
  padding: 5px 10px 5px 50px;
  border: 0;
  border-bottom: 2px solid rgb(196, 196, 196);
  outline: 0;
}

.form .already
{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.form-group .signup{
  padding: 8px 30px !important;
  margin-bottom: 10px;
  font-size:16px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}

.form span{
  font-weight: 500;
}
.form span .already
{
  text-decoration: underline;
  color: rgb(0, 118, 191);
  letter-spacing: 2px;
}
