.user-profile-page{
    margin: 50px 0 90px 0;
}

.profile-page-navigation{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 35px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.profile-page-navigation .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-page-navigation .links .user-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-page-navigation .links .user-image .user_name{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.222);
}
.profile-page-navigation .links .user-image a i{
    font-size: 128px;
    color: rgb(197, 197, 197);
}
.profile-page-navigation .links .page-links{
    margin-top: 50px;
    padding: 10px 0;
}
.profile-page-navigation .links .page-links ul{
    padding: 0;
    text-align: justify;
}
.profile-page-navigation .links .page-links ul li{
    list-style: none;
    margin: 25px 0;
    border-bottom: 1px solid rgb(144, 144, 144);
    padding: 5px 55px;
    

}
.profile-page-navigation .links .page-links ul li:hover{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.6s ease-in-out;
    background: rgb(226, 226, 226);
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    border: 0;
}
.profile-page-navigation .links .page-links ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    letter-spacing: 2px;
}