<div class="contact-banner">
  <h3 class="heading">Contact us</h3>
  <div class="container">
    <img
      src="https://s3-alpha-sig.figma.com/img/cb8f/c861/50a2fb87d5213c3bc7499aa8023757bc?Expires=1650844800&Signature=I7JwM8GgE76Ah77A04UQJVnjYfUeQ65CZEy0lXWFmLBRH6v5g8dt2sK4tTagtTRiV18THEo8wVjZkEC74I2sg73c1j8hz1mLfU4ft7Pm-AMWRsi2K2Bey~eoMB0OKx2gpJqeciSi7msMfAnb0QUJMS38mzzJZIlFA342zMbo9MxoskgFpLQU3QJOhtApZjMcA6rRzPhtpvlN88062WjKedpCpqbIwDhUaigI2pLx~A9EEBLYZC0~RHBoWCFv31XaPpJfftxBIaRqKCeSVLXFb4ImaGVA2iRmnbn1qIkzVLbHhz4ovdG2Th1C2Pn~tE4xa1BizMFQqAq3pjyil0Cxyg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Contact Us</h3>

      <div class="form-inline">
        <h5>Address</h5>
        <p>123 Main Street, Anytown, CA 12345 – INDORE</p>
      </div>
      <div>
        <h5>Phone</h5>
        <p>Mobile: (08) 123 456 789vsdsd</p>
        <p>Hotline: 1009 678 456</p>
      </div>
      <div>
        <h5>Email</h5>
        <p>sapnajewellers@gmail.com</p>
      </div>
    </div>
    <div class="col-md-6">
      <h1>Tell Us Your Message</h1>
      <form class="form-inline">
        <div class="form-group">
          <label>Your Name (required)</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Email (required)</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Subject</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Message</label>
          <textarea class="form-control" name="msg" cols="30" rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-primary send">send</button>
      </form>
      <!-- <router-outlet></router-outlet> -->
