<div class="container">
    <div class="cart-heading">
        <h2>Your Favorite Products</h2>
    </div>
    <div class="row order-cards">
        <div class="col-md-6" *ngFor="let data of product index as i">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{data.productImage}}" alt="product image" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{data.productName}}</h5>
                            <p class="card-text price">₹ {{data.productPrice}}</p>
                            <div class="card-buttons">
                                <a class="addtocart wish-btn" (click)="AddToCart(data._id)">Add to cart</a>
                                <a class="remove wish-btn" (click)="removeproduct(data._id,i)">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>