@keyframes shine {
    from {
        background-position: center 0;
    }
    to {
        background-position: center 800%;
    }
}

.text h1 {
    margin: 60;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    background: linear-gradient( rgba(252, 253, 255, 0.908), rgba(253, 214, 123, 0.941), rgb(225, 247, 255), rgba(255, 231, 93, 0.941));
    background-size: auto 180%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}

.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.201), rgba(0, 0, 0, 0.626), rgba(0, 0, 0, 0.963), rgba(0, 0, 0, 0.863)), url('../../../assets/images/home_banner.png');
}

.content {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.text {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.text h1 {
    text-shadow: 8px 8px 8px rgba(255, 255, 255, 0);
}

.logo {
    padding: 80px 0 50px 0;
    height: 500px;
    text-align: center;
    z-index: 100;
}

.logo img {
    height: 100%;
    border-radius: 8px;
}

.mission {
    text-align: center;
    padding: 80px 0;
}

.mission h2 {
    text-shadow: 2px 3px 4px rgba(121, 120, 120, 0.288);
    font-size: 32px;
    letter-spacing: 2px;
}

.mission p {
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
}


/* .category h1{
text-align: center;
} */

.category-heading {
    text-align: center;
    padding: 0 0 80px 0;
}

.category-heading h2 {
    text-shadow: 2px 3px 4px rgba(121, 120, 120, 0.288);
    font-size: 32px;
    letter-spacing: 2px;
}

.categories {
    justify-content: space-evenly;
}

.category-img {
    height: 100px;
    width: 125px;
    text-align: center;
}

.category-img a {
    text-decoration: none;
    cursor: pointer;
}


.category-img a:hover img {
    transition: all 0.5s ease-out;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.category-img span {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.category-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.676);
    margin-bottom: 15px;
}

.category-block {
    padding: 0 0 80px 0;
}

.more {
    background: rgb(147, 146, 146);
    width: 100%;
    text-align: center;
}


/* ----------------------------Product Style---------------------------------- */

.products {
    margin-top: 80px;
}

.products .heading {
    text-align: center;
}

.products .heading h2 {
    text-shadow: 2px 3px 4px rgb(121 120 120 / 29%);
    font-size: 32px;
    letter-spacing: 2px;
}

.products-card {
    padding: 80px 0 0 0;
}

.product-image-div {
    height: 100px;
    background-color: red;
}

.card-outer {
    padding: 0 15px;
}

.card {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.274);
    margin: 20px 0;
    padding: 10px 10px 15px 10px;
    cursor: pointer;
}

.card .card-content {
    position: relative;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
}

.card .card-content .card-img {
    height: 100%;
}

.card-outer:hover img {
    transition: all 0.5s ease-out;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    background: transparent;
}

.card .card-content .card-img img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card:hover .card-content {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.card-text {
    /* padding:10px; */
    margin-top: 35px;
    margin-left: 10px;
}

.card-text .product-content .productName {
    text-align: start;
}

.card-text .product-content .productName h3 {
    font-size: 18px;
    font-weight: 500;
    color: #9a4949;
}

.card-text .product-content .rating {
    text-align: start !important;
    margin: 15px 0;
}

.card-text .product-content .rating i {
    color: #e2cc04;
}

.card-text .product-content .rating span {
    margin-left: 10px;
    font-size: 12px;
    background: rgb(238, 248, 255);
    padding: 3px 7px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.action {
    position: absolute;
    top: 0;
    right: 0;
}

.action li:hover {
    color: red;
}

.action li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.801);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    border-radius: 8px;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.action li i {
    font-size: 24px;
}

.container .card:hover .action li {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.product-cart-btn {
    /* padding: 5px 5px 5px 20px; */
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #9a4949;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}

.product-cart-btn i {
    margin-left: 10px;
    font-size: 18px;
}

.product-cart-btn:hover {
    text-decoration: underline;
}

.product-cart-btn:hover i {
    transition: 0.5s;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.price h6 {
    margin: 0;
}

.navbar-nav{
    flex-direction: row;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .banner {
        background-size: cover;
        background-position: center;
        height: 80vh;
    }
    .banner .logo {
        display: none;
    }
    .banner .text {
        /*font-size: 28px;
    */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .text h1 {
        font-size: 48px;
        letter-spacing: 15px;
    }
    .categories .category-img {
        margin-top: 50px;
        justify-content: left;
    }
}