<div class="container carts">
    <div class="cart-heading">
        <h2>Place Order</h2>
    </div>
    <div class="row cart" *ngFor="let item of data  index as i ">
        <!-- <input type="hidden" name="s" value="i+1"> -->
        <div class="col-md-3 left-cart cart_product">
            <div class="cart_product_image">
                <img class="img-fluid" src="{{item.productImage}}" alt="product image">
            </div>
        </div>
        <div class="col-md-9 right-cart cart_product">
            <div class="cart_product_content">
                <div class="product_name">
                    <h3>{{item.productName}}</h3>
                </div>
                <div class="product_price">
                    <h3>
                        Price <span>₹ {{item.productPrice}}</span>
                    </h3>
                </div>
                <!-- <div class="remove_btn">
                    <a >remove</a>
                </div> -->
                <div class="quantity">

                    <input (change)="value($event,item.productName,i)" type="number" [max]="item.quantity" min="1" defaultValue="">

                </div>
                <div class="quantity">
                    <h2>{{item.total}}</h2>
                </div>
            </div>
        </div>
    </div>
    <h1>Total price</h1>
    <h1>{{total}}</h1>
    <div class="checkout">
        <a class="checkout_btn" (click)="onpay()">Pay Now</a>
    </div>
</div>