 .title {
     margin: 50px 0 20px 0;
 }
 
 .left {
     padding: 15px 20px;
     /* box-shadow: 0 0 5px rgb(0, 0, 0, 0.5); */
 }
 
 .left .contact-address {
     display: flex;
     box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
     flex-direction: column;
     padding: 35px 20px;
 }
 
 .left .contact-address .address-form {
     display: flex;
     flex-direction: column;
 }
 
 .left .contact-address .address-title {
     font-size: 16px;
     letter-spacing: 2px;
 }
 
 .left .contact-address .address-form input {
     max-width: 550px;
     outline: none;
     padding: 5px 25px;
     font-size: 15px;
     margin: 15px 0;
     border: none;
     border: 1px solid rgb(195, 195, 195);
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
     font-weight: 500;
 }
 
 .left .contact-address .address-form input[name="country"] {
     margin-left: 15px;
 }
 
 .order-cards {
     /* display: flex;
    flex-direction: column; */
     margin-top: 35px;
     padding: 15px 0;
     /* box-shadow: 0 0 2px rgb(0, 0, 0, 0.5); */
 }
 
 .order-cards .card {
     border: none;
     border: 1px solid rgb(195, 195, 195);
     padding: 10px 15px;
     max-width: 540px;
     box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
 }
 
 .order-cards .card img {
     max-height: 120px;
     height: 100%;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
 }
 
 .order-cards .card .card-body {
     padding: 0 20px;
 }
 
 .order-cards .card .card-body .card-title {
     font-size: 20px;
     font-weight: 500;
     margin-bottom: 15px;
 }
 
 .order-cards .card .card-body .card-text {
     font-size: 16px;
     font-weight: 500;
 }
 
 .order-cards .card .card-body .card-text #quantity {
     width: 65px;
     font-size: 14px;
     font-weight: 500;
     padding: 2px 5px 2px 15px;
 }
 
 .order-cards .card .card-body .price {
     font-size: 22px;
     font-weight: 500;
 }
 
 .right {
     /* box-shadow: 0 0 5px rgb(0, 0, 0, 0.5); */
     position: relative;
     padding: 15px 20px;
 }
 
 .right .order-pay {
     box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
     padding: 35px 20px;
     text-align: center;
     /* border: 1px solid rgb(217, 217, 217); */
 }
 
 .right .order-pay .place-order-btn {
     text-decoration: none;
     padding: 7px 20px;
     color: #fff;
     background: rgb(91, 91, 91);
     font-size: 15px;
     font-weight: 500;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     cursor: pointer;
 }
 
 .right .order-pay .order-summary {
     /* box-shadow: 0 0 5px rgb(0, 0, 0, 0.5); */
     border: 1px solid rgb(219, 219, 219);
     margin: 35px 0;
     padding: 10px 15px;
     text-align: left;
 }
 
 .right .order-pay .order-summary #summary p {
     margin: 10px 0;
 }
 
 .right .order-pay .order-summary #summary p span {
     float: right;
 }
 
 .right .order-pay .order-summary .order-total #total {
     font-size: 18px;
     font-weight: 500;
     margin-top: 25px;
     color: rgb(183, 46, 0);
 }
 
 .right .order-pay .order-summary .order-total #total span {
     float: right;
 }
 
 .right .order-pay .btn {
     position: absolute;
     bottom: 30px;
     left: 50px;
 }