<div id="product-banner">
  <div class="container" id="inside-banner">
    <img
      id="bannner-image"
      src="../../../assets//images/product_banner.png"
      class="img-fluid"
      alt=""
    />
  </div>
</div>
<div class="mt-5" id="sub-hero">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center" id="sub-banner">
        <img
          src="../../../assets/images/product-sub_hero.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-6" id="subhero-text">
        <h3>Our Aim</h3>
        <p>
          Sapna Jewellers offers a stunning variety of jewelleries in
          spectacular patterns,lovely designs, and striking themes. The earring
          styles range from the traditional to the ultra-modern ones.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mt-4 mb-4">
  <div class="heading">
    <h1>PRODUCTS</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3 card-outer">
      <div class="card">
        <div class="card-content">
          <div class="card-img">
            <img class="img-fluid" src="../../../assets/images/rings_banner.png" />
          </div>
          <ul class="action">
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="card-text">
          <div class="content">
            <div class="productName">
              <h3>Diamond Ring</h3>
            </div>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>3.5/5</span>
            </div>
            <div class="price">
              <h6>₹ 500.00</h6>
              <a href="#" class="cart-btn"
                >Add To Cart<i class="fa fa-shopping-cart"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
