#product-banner {
  background-color: var(--secondary);
  width: 100vw;
  max-height: 40em;
  padding: 40px;
  box-shadow: 0 5px 18px rgba(151, 151, 151, 0.5);
}

#inside-banner {
  width: 100%;
  width: 100%;
}

#sub-hero {
  background-color: var(--secondary);
  margin: 80px 0;
  box-shadow: 0 5px 18px rgba(151, 151, 151, 0.5);
}

#sub-banner {
  padding: 2em;
}

#subhero-text {
  padding: 50px 30px;
  margin: auto;
}

#subhero-text h3 {
  font-size: 2em;
}

#bannner-image {
  width: 100%;
  max-height: 100%;
}


.products-card{
  padding: 80px 0 0 0;
}

.product-image-div {
  height: 100px;
  background-color: red;
}
.card-outer{
  padding:0 15px;
}
.container .card {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.274);
  margin: 20px 0;
  padding: 10px 10px 15px 10px;
  height: 400px;
  cursor: pointer;
}
.card .card-content {
  position: relative;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
}
.card .card-content .card-img{
  height: 100%;
width: 100%;
}
.card-outer:hover img{
  transition: all 0.5s ease-out;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.card .card-content .card-img img{
  height: 100%;
  width: 100%;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
.container .card:hover .card-content {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.card-text {
  /* padding:10px; */
  margin-left: 10px;
}
.container .card .content .productName{
  text-align:start;
}
.container .card .content .productName h3 {
  font-size: 18px;
  font-weight: 500;
  color: #9a4949;

}

.container .card .content .rating {
  text-align:start;
  margin: 15px 0;
}
.container .card .content .rating i {
  color:#e2cc04;
}

.container .card .content .rating span {
  margin-left:10px;
  font-size: 12px;
  background: rgb(238, 248, 255);
  padding: 3px 7px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.action {
  position: absolute;
  top: 10px;
  right: 10px;
}
.action li:hover {
  color: red;
}
.action li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.801);
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.action li i {
  font-size: 24px;
}
.container .card:hover .action li {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.cart-btn{
   /* padding: 5px 5px 5px 20px; */
   margin-right: 10px;
   text-decoration: none;
   font-size: 14px;
   font-weight:600;
   color: #9a4949;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
    cursor: pointer;

}
.cart-btn i{
  margin-left:10px;
  font-size:18px;
}
.cart-btn:hover {
  text-decoration: underline;
}
.cart-btn:hover i{

  transition:0.5s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.price h6{
  margin: 0;
}

.sub-product{
  margin-top: 80px;
  margin-bottom: 80px;
}
.pro-cards{
  /* padding: 0 50px 0 0; */
  /* margin-right: 50px; */
  position: relative;
}
.left-cards .products-cards .card-outer{
  margin-left: 50px;
}
.right-cards{
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  background-color: var(--secondary);
  padding: 100px 60px 30px 100px;
  margin-top: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.right-cards .card-outer_1, .right-cards .card-outer_2{
  max-width: 300px;
}
.right-cards .card-outer_2{
  position: absolute;
  bottom: 150px;
  right: 110px;
}

@media screen and (max-width:576px){
  .products-card, .sub-product{
    display: none;
  }
}