<div id="product-banner">
  <div class="container" id="inside-banner">
      <img id="bannner-image" src="../../../assets//images/product_banner.png" class="img-fluid" alt="">
  </div>
</div>
<div class="mt-5" id="sub-hero">
  <div class="container">
      <div class="row">
          <div class="col-6 text-center" id="sub-banner">
              <img src="../../../assets/images/product-sub_hero.png" class="img-fluid" alt="">
          </div>
          <div class="col-6 " id="subhero-text">
              <h3>Our Aim</h3>
              <p>Sapna Jewellers offers a stunning variety of jewelleries in spectacular patterns,lovely designs, and striking themes. The earring styles range from the traditional to the ultra-modern ones.</p>
          </div>
      </div>
  </div>

</div>
<div class="container text-center mt-4 mb-4">
  <h1>Products</h1>
</div>
