@keyframes shine {
  from {
    background-position: center 0;
  }

  to {
    background-position: center 800%;
  }
}
.text h1 {
  margin: 60;
  font-size: 108px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  background: url("../../../assets/images/rings_banner.png");
  background-size: auto 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
.banner{
  background: linear-gradient( rgba(0, 0, 0, 0.201),rgba(0, 0, 0, 0.626),rgba(0, 0, 0, 0.963),rgba(0, 0, 0, 0.863)),url('../../../assets/images/home_banner.png');
}
.content{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.text {

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
.text h1{
  text-shadow: 8px 8px 8px rgba(255, 255, 255, 0);
}
.logo{
  padding: 80px 0 50px 0;
  height: 500px;
  text-align: center;
  z-index: 100;
}
.logo img {
 height: 100%;
 border-radius: 8px;
}
.mission {
  text-align: center;
  padding: 70px 0;
}
.mission h2{
  text-shadow: 2px 3px 4px rgba(121, 120, 120, 0.288);
  font-size: 32px;
  letter-spacing: 2px;
}
.mission p{
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
}
/* .category h1{
text-align: center;
} */
.category-heading{
  text-align:center;
  padding: 0 0 50px 0;
}
.category-heading h2{
  text-shadow: 2px 3px 4px rgba(121, 120, 120, 0.288);
  font-size: 32px;
  letter-spacing: 2px;
}
.categories{
  justify-content:space-evenly;
  /* align-items: center; */
}
.category-img
{
  height:100px;
  width: 125px;
  text-align: center;
}
.category-img a{
  text-decoration: none;
}
.category-img a:hover img{
  transition: all 0.5s ease-out;
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.category-img span{
  color: var(--dark);
  font-weight: 500;
  font-size:20px;
  letter-spacing: 2px;
}
.category-img img {
  height: 100%;
  width: 100%;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.676);
  margin-bottom: 15px;
}
.category-block{
  padding:0 0 80px 0;
}
