<div class="content banner">
  <div class="logo">
    <img class="img-fluid" src="../../../assets/images/hero1.png" />
  </div>
  <div class="container text">
    <h1>SAPNA JEWELLERS</h1>
  </div>
</div>
<div class="container mission">
  <h2>Our Mission</h2>
  <p>“to become the best customer service company in the world”</p>
</div>

<div class="container category-block">
  <div class="category-heading">
    <h2>Category</h2>
  </div>
  <div class="row categories">
    <div class="col-2 category-img">
      <a href="#">
        <img src="../../../assets/images/bracelets.png" alt="category image">
        <span>Bracelets</span>
      </a>
    </div>
    <div class="col-2 category-img">
      <a href="#">
        <img src="../../../assets/images/chains_banner.png" alt="category image">
        <span>Chains</span>
      </a>
    </div>
    <div class="col-2 category-img">
      <a href="#">
      <img src="../../../assets/images/Earrings_banner.png" alt="category image">
      <span>Earrings</span>
      </a>
    </div>
    <div class="col-2 category-img">
      <a href="#">
        <img src="../../../assets/images/coronet-banner.png" alt="category image">
        <span>Coronet</span>
      </a>
    </div>
    <div class="col-2 category-img">
      <a href="#">
        <img src="../../../assets/images/rings_banner.png" alt="category image">
        <span>rings</span>
      </a>
    </div>
    <div class="col-2 category-img">
      <a href="#"><img src="../../../assets/images/bracelets.png" alt="category image"></a>
      <span>Tika</span>
    </div>
  </div>
</div>
