<div class="content banner">
  <div class="logo">
    <img class="img-fluid" src="../../../assets/images/hero1.png"/>
  </div>
  <div class="container text">
    <h1>SAPNA JEWELLERS</h1>
  </div>
</div>
<div class="container mission">
<h2>Our Mission</h2>
<p> “to become the best customer service company in the world”</p>
</div>
<div class="container category">
<h1>CATEGORIES</h1>
<div class="row">
  <div class="col-2">
  <img class="img-fluid" src="../../../assets/images/Earrings_banner.png">
</div>
