.form-box
{

  padding: 50px 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form{
  background: #fff;
  padding: 30px 70px 40px 70px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.form .logo svg{
  width: 104px;
  height: 146px;
  ;
}
.form-group{
  margin: 20px 0;
  position: relative;
}
.form-group i{
  position: absolute;
  top: 10px;
  left: 5px;
}
.form-group input{
  width: 350px;
  font-weight: 500;
  padding: 5px 10px 5px 50px;
  border: 0;
  border-bottom: 2px solid rgb(196, 196, 196);
  outline: 0;
}

.form .already
{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  margin-top:10px;
}
.links .forget{
  font-weight: 600;
  color: rgb(36, 36, 36);
}
.form-group .signin{
  padding: 8px 30px !important;
  font-size:16px;
  letter-spacing: 2px;
  font-weight: 600;
}
.form span .already
{
  text-decoration: underline;
  color: rgb(0, 118, 191);
  letter-spacing: 2px;
}
.signbtn{
  margin-top: 60px;
  margin-bottom: 0;
}
.google-btn .btn-google .fa-google{
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  vertical-align: middle;
  margin-left: 10px;
}
.btn-google{
  padding: 8px 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight:600;
  border: 1px solid rgb(0, 118, 191);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}
.btn-google:hover{
  background:rgb(0,118,191);
  color:#fff;
}
.form .or{
  position: relative;
  font-weight: 500;
  color: rgb(155, 155, 155);
  margin: 20px;
}
.form .or::before{
  content: '';
  position: absolute;
  right: 25px;
  top: 12px;
  width: 80px;
  height: 1px;
  background-color: rgb(155, 155, 155);
}
.form .or::after{
  content:'';
  position: absolute;
  left: 24px;
  top:12px;
  width: 80px;
  height:1px;
  background-color: rgb(155, 155, 155);
}
