.navbar{
  width:100vw;
}
.navbar-brand{
  font-size: 24px;
  font-weight: 500;
  position:relative;
}
.navbar-brand small{
  position: absolute;
  top: 20px;
  left:50px;
}

.navbar-brand small sub{
  font-size:12px;
}
.nav-item {
  position: relative;
  margin: 0 10px;
}
.nav-item .nav-link{
  padding: 0;
  font-weight: 500;
}
.nav-item:hover .nav-link{
  color: rgb(0, 124, 181);
}
.nav-item::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 30px;
  left: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.nav-item:hover::before{
  opacity: 1;
}
.right-nav .nav-item .nav-link{
  font-size:14px;
}
.right-nav .nav-item .nav-link i{
  font-size:20px !important;
}
