<div class="about-banner">
    <div class="about_banner">
  <img src="../../../assets/images/about_banner.png">
</div>

<div class="aboutHeadding">
    <h2>Who We Are</h2>
</div>
<div class="aboutText">
    <p>CaratLane was founded in 2008, with the objective to make beautiful jewellery accessible, 
        affordable and forever wearable. After speaking to hundreds of women across the country, 
        we came to find that there was a common dilemma women faced - picking between expensive 
        jewellery for special occasions, and everyday jewellery that was of inferior quality and was not 
        keeping pace with their changing lifestyle. CaratLane was founded, to give women access to modern,
         fine jewellery, that was also wearable everyday. Today CaratLane is India's largest omni-channel jeweller. 
        CaratLane also has over 123 retail stores across 40+ Indian cities.</p>
</div>

<div class="about_banner2">
    <img src="../../../assets/images/about-sub_hero.png">

</div>
<div class="container">
<div class="row about-cards">
    <div class="col-md-6">
        <div class="content">
        
        <h2>Our Mission</h2>
        <p>Our mission is to make beautiful jewellery accessible. 
            Jewellery that not only makes a woman look beautiful 
            but also make her feel beautiful and loved.</p>
    </div>
    </div>
    <div class="col-md-6">
        
       <div class="content">
        <h2>
            Our Promise
        </h2>
        <p>
            We started our company on three simple premises. Our style is relentlessly modern, yet intensely respectful of traditions.
            We always look for better and newer ways to do things; from the designs that we make to the experiences that we deliver.
            We are open in our interactions with our customers. Our prices and policies are always transparent
        </p>
       </div>
    </div>
</div>
</div>
<div class="teamtittle">
    <h2>Our Team</h2>
    <p>Our roots are digital, our passion is contagious and most importantly, 
        ur people are creative, inspiring, and dedicated!</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="card" style="height: 150px;">
                <img src="../../../assets/images/archu.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Archana  Singh</p>
                </div>
              </div>
        </div>
        <div class="col-2">
            <div class="card" style="height: 150px;" >
                <img src="../../../assets/images/sapu.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Sapna  Prajapat</p>
                </div>
              </div>    
        </div>
        <div class="col-2">
            <div class="card" style="height: 150px;">
                <img src="../../../assets/images/shelu.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Shailendra Kushwah</p>
                </div>
              </div>
        </div>
        <div class="col-2">
            <div class="card" style="height: 150px;">
                <img src="../../../assets/images/shubh.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Shubham burghate</p>
                </div>
              </div>
        </div>
        <div class="col-2">
            <div class="card" style="height: 150px;">
                <img src="../../../assets/images/somu.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Somika Verma</p>
                </div>
              </div>
        </div>
    </div>
</div>
</div>