<div class="about_banner">
  <div class="container">
    <!-- <img class="img-fluid" src="../../../assets/images/about_banner.png"> -->
    <img class="img-fluid" src="../../../assets/images/about_banner.png" alt="background image">

    <!-- <video width="1600" controls height="400">
      <source
        src="../../../assets/images/nacklacevedionew.mp4"
        type="video/mp4"
      />
      <source src="mov_bbb.ogg" type="video/ogg" />
      Your browser does not support HTML video.
    </video> -->

    <!-- <p><a href="../../../assets/images/logo.png" target="_blank"></a>.</p> -->
  </div>
</div>
<div class="container">
  <div class="aboutHeadding">
    <h2>Who We Are</h2>
  </div>
  <div class="aboutText">
    <p>
      CaratLane was founded in 2008, with the objective to make beautiful
      jewellery accessible, affordable and forever wearable. After speaking to
      hundreds of women across the country, we came to find that there was a
      common dilemma women faced - picking between expensive jewellery for
      special occasions, and everyday jewellery that was of inferior quality and
      was not keeping pace with their changing lifestyle.
    </p>
  </div>
</div>

<div class="about_banner2">
  <!-- <img class="img-fluid w-100" src="../../../assets/images/about-sub_hero.png" /> -->
  <!-- <div class="about_banner2"> -->
    <!-- <img src="../../../assets/images/about-sub_hero.png" /> -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"   aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="../../../assets/images/about-sub_hero.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="../../../assets/images/PB-Desktop_1920x620-Gifting.jpg" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item"  data-bs-interval="2500">
          <img src="../../../assets/images/PB-Desktop_1920x620-Summer.jpg" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="../../../assets/images/Rectangle 82.png" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item"  data-bs-interval="2500">
          <img src="../../../assets/images/PB-Desktop_1920x620-Summer.jpg" class="d-block w-100" alt="..." >
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    <!-- </div> -->
</div>
<div class="container">
  <div class="row about-cards">
    <div class="col-md-6 box">
      <div class="content">
        <h2>Our Mission</h2>
        <p>
          Our mission is to make beautiful jewellery accessible. Jewellery
          that not only makes a woman look beautiful but also make her feel
          beautiful and loved.CaratLane was founded, to give women access to
          modern, fine jewellery, that was also wearable everyday. Today
          CaratLane is India's largest omni-channel jeweller.
        </p>
      </div>
    </div>
    <div class="col-md-6 box">
      <div class="content">
        <h2>Our Promise</h2>
        <p>
          We started our company on three simple premises. Our style is
          relentlessly modern, yet intensely respectful of traditions. We
          always look for better and newer ways to do things; from the designs
          that we make to the experiences that we deliver. We are open in our
          interactions with our customers. Our prices and policies are always
          transparent
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container teamtittle">
  <h2>Our Team</h2>
  <p>
    Our roots are digital, our passion is contagious and most importantly, ur
    people are creative, inspiring, and dedicated!
  </p>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-2  offset-1">
      <div class="card">
        <img src="../../../assets/images/shubh.jpeg" class="card-img-topimg-fluid" alt="..." />
        <div class="card-body">
          <p >Shubham burghate</p>
          
        </div>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card">
        <img  src="../../../assets/images/somu.jpeg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <p >Somika Verma</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card">
        <img src="../../../assets/images/shelu.jpeg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <p >Shailendra Kushwah</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card">
        <img src="../../../assets/images/sapu.jpeg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <p >Sapna Prajapat</p>
        </div>
      </div>
    </div>
    <div class="col-md-2  ">
      <div class="card">
        <img src="../../../assets/images/archu.jpeg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <p >Archana Singh</p>
        </div>
      </div>
    </div>
  </div>
</div>
