
.about_banner {
  width: 100vw;
  text-align: center;
}

.aboutHeadding {
  text-align: center;
  padding-top: 50px;
  max-width: 100vw;
}

.aboutText {
 padding: 15px 25px;
  max-width: 100vw;
  text-align:justify;
}



.about-cards .box{
  margin: 25px 0;
  padding: 10px 15px;
}


.teamtittle {
  text-align: center;
  max-width: 100vw;
  /* padding-top: 20px; */
}

.teamtittle p {
  padding:10px 20px;
  text-align: center;
}


.content {
  padding: 30px 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
}
.content p{
  text-align: justify;
  margin-top: 35px;
}

.about-cards {
  padding: 50px 0;

}

.card{
  height: 200px;
  width: 180px;
}
.card img {
  height: 100%;
  width: 100%;
}
.card-body{
  margin-top: 25px;
}
.card-body p{
  margin: 0;
}

.text-center{
  padding: 25px 0;
  margin-bottom: 150px;
}